/*
colors:
gold: #ffc361, #664e26
orange: lightgrey, #f97f2c
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* Start pc */
@media screen and (min-width: 1200px) {
  body {
    background-color: #363434;
    text-align: center;
  }
  
  header {
    background-image: linear-gradient(to bottom right, lightgrey, #f97f2c);
    position: fixed;
    width: 100%;
    text-align: center
  }
  
  hr {
     border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  
  #rumorsdiv {
    background-color: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 100px;
    display: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 2px;
  }
  
  #officialdiv {
    background-color: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 100px;
    display: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 2px;
  }
  
  #ongoingdiv {
    background-color: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 100px;
    display: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 2px;
  }
  
  .active {
    background-color: white;
    color: #f97f2c;
  }
  
  #rumorscountdown, #officialcountdown {
    font-size: 50px;
  }
  
  .events {
    text-align: center;
  }
  
  .icon {
    width: 15px;
    height: 15px;
  }
  
  .drophome {
    background-color: #121212;
    color: white;
    padding: 16px;
    font-size: 16px;
}

.dropdown {
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 200px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content { display: block; opacity: 1;}
.dropdown:hover .dropbtn {background-color: grey;}
}

@media screen and (max-width: 1199px) {
  body {
    background-color: #363434;
    text-align: center;
  }
  
  header {
    background-image: linear-gradient(to bottom right, lightgrey, #f97f2c);
    width: 100%;
    text-align: center
  }
  
  hr {
     border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  
  #rumorsdiv {
    background-color: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 100px;
    display: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 2px;
  }
  
  #officialdiv {
    background-color: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 100px;
    display: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 2px;
  }
  
  #ongoingdiv {
    background-color: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 100px;
    display: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 2px;
  }
  
  #utilitiesdiv {
    background-color: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 100px;
    display: none;
    color: white;
    border-style: solid;
    border-size: 2px;
    border-color: lightgrey;
    border-radius: 2px;
  }
  
  .active {
    background-color: white;
    color: #99753a;
  }
  
  #rumorscountdown, #officialcountdown {
    font-size: 50px;
  }
  
  .events {
    text-align: center;
  }
  
  .icon {
    width: 15px;
    height: 15px;
  }
  
  
  .drophome {
    background-color: #121212;
    color: white;
    padding: 16px;
    font-size: 16px;
}

.dropdown {
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 200px;
    top: 55px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content { display: block; opacity: 1;}
.dropdown:hover .dropbtn {background-color: grey;}
  
  }
